:root {
  /* primary colors */
  --white: #ffffff;
  --black-primary: #050505;
  --black-secondary: #0f0f0f;
  --violet: #b6c3ff;
  --green: #45ffbc;
  --green-light: #e3ffa8;
  --grey-light: #b6b6b6;

  /* secondary colors */
  --grey: #292928;
  --pink: #ffc4f7;
  --yellow: #fff3b7;

  /* validation colors */
  --success-color: #3cbc81;
  --error-color: #e74a3b;

  /* box-shadow */
  --box-shadow: 0px 4px 14px 0px rgba(227, 255, 168, 0.2);

  /* transition */
  --transition-dur-and-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Poppins,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
.css-1jj59y3-MenuList2{
  border-radius: 12px;
}